{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}

    {% include '@EasyAdmin/default/flash_messages.html.twig' %}
<div class="jumbotron text-center">
    <h1>{{ message }}</h1>
    <h2 class="mt-5">Welcome to Wallpaper exchange</h2>
    <p class="lead">All photos on Wallpaper exchange are free for personal and commercial purposes.</p>
</div>

{% endblock %}
